@model IEnumerable<WebSite.Models.PostModel>

@{
    ViewData["Title"] = "AllPostsView";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row border">
            <div class="col-8">
                <div class="post-user-info">
                    <p class="post-title">
                    @Html.DisplayFor(modelItem => item.Title)
                    </p>
                    <p class="post-user-name">
                        posted by: @Html.DisplayFor(modelItem => item.PosterName)
                    </p>
                    <p class="post-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </div>
            </div>
            <div class="col-4">
                <img class="post-image" src=@Html.DisplayFor(modelItem => item.ImageURL)>
            </div>
        </div>
    }
</div>
